 {% extends 'admin/base.html' %}

 {% load static %}

 {% block branding %}

    <h1 id="head" >
       {# <img src="{% static 'img/logo.png' %}" alt="" width="80" height="50" class="brand_img"> #}

        <em style="font-size: 3rem; font-weight: bolder; margin-right:3rem;">Dope</em> Admin Site
       
    </h1>
    

 {% endblock branding %}

 {% block extrastyle %}

   <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
   
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock extrastyle %}